@charset "UTF-8";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.col-12 {
    background-color: antiquewhite;
    text-align: center;
    color: rosybrown;
    border: 15px solid white;
    border-top: 0;
}

.carousel-caption.d-none.d-md-block h1 {
    background-color: antiquewhite;
    text-align: center;
    color: rosybrown;
    border-bottom: 7px solid antiquewhite;
}

.img-fluid {
    display: block;
    max-width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

.carousel-inner img {
    display: block;
    max-width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

#gallery-heading, h3 {
    background-color: bisque;
    text-align: center;
    font-family: Verdana, Arial, serif;
    color: rosybrown;
}

.carousel-control-prev
{
    left: 5%;    
}

.carousel-control-next {
    right: 5%;
}