/**
 * General styles
 */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #53565a;
}

/**
 * Carousel container
 */

.v-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 930px;
}

.roll {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    left: 0px;
}

.project {
    width: 300px;
    height: 350px;
    background-color: #FFF;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5);
    text-align: center;
    margin: 0 10px 15px 0;
    display: inline-block;
    font-size: 18px;
}

    .project img {
        margin-top: 10px;
        width: 280px;
        height: 200px;
    }

    .project p {
        margin: 10px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 200;
        text-align: left;
        white-space: normal;
    }

.sections {
    text-align: center;
    color: #b4fdc0;
    font-size: 12px;
}

    .sections i {
        margin: 0 2px;
        cursor: pointer;
    }

.navigation {
    position: absolute;
    border: none;
    padding: 0;
    background-color: rgba(35,35,35,0.8);
    height: 34px;
    width: 34px;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    top: 176px;
    z-index: 10;
}

    .navigation:visited {
        text-decoration: none;
    }

.navigation-hover {
    height: 50px;
    width: 50px;
    top: 168px;
}

.navigation:active {
    text-decoration: none;
}

.navigation:focus {
    outline: none;
}

.navigation:first-of-type {
    left: 0px;
}

.navigation:last-of-type {
    right: 10px;
}


@media screen and (max-width: 950px) {
    .carousel {
        position: relative;
        overflow: hidden;
        width: 620px;
    }
}

@media screen and (max-width: 655px) {
    .carousel {
        position: relative;
        overflow: hidden;
        width: 310px;
    }
}
