form {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border: 10px solid olive;
}

label {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
}

.costheader {
    background-color: yellow;
    border: 10px solid yellow;
}
